{% extends "page.html" %}

{% block breadcrumb_content %}
    {{ super() }}
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h2 class="text-4xl text-zambezi font-semibold w-full">{{  _('Contact us') }}</h2>
      <p>{{ _('Write in the form your comments, questions, requests or problems regarding open data. A message will be sent to the open data team. We will answer you as quickly as we can.') }} </p>
      </br>
        {% block contact_form_content %}
            {% include "contact/snippets/form.html" %}
        {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}

{% set current_url = h.full_current_url() %}
<section class="module module-narrow module-shallow groups">
<h2 class="module-heading">{{ _('Social') }}</h2>
  <ul class="unstyled nav nav-simple nav-facet">
    <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
    <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
  </ul>
</section>
{% endblock %}
