{% ckan_extends %}
{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}


{% block primary_content_inner %}

  {{super()}}
{% endblock %}



{% block package_tags %}
<h3> Methodology</h3>

{% if pkg_dict.get('methodologie') %}
        {{ h.render_markdown(pkg.get('methodologie')) }}
                    
{% elif pkg_dict.get('extras') %}
    {% for item in pkg_dict.get('extras')%}
            {% if item.key== 'methodologie'%}
                    {{ h.render_markdown(item.value) }}
            {% endif %}
    {% endfor%}

    {% else %}
      <p>--</p>
  {% endif %}
</br>





{% endblock %}

