<ul class="flex-grow sm:flex flex-wrap sm:-mx-2 mt-gutter">
    {% set organizations = h.all_organizations() %}
    {% for org in organizations[:3] %}
    <li class="sm:w-1/3 lg:w-1/3 p-2">
        <a href="{{ h.url_for('organization.read', id=org.id, org_title=org['title']) }}" class="p-4 block bg-white rounded hover:border-1 hover:border-solid hover:border-transparent hover:bg-white hover:shadow-xl hover:text-primary" style="border:1px solid #CED4DA">
            <img class="h-20" src="{{ org.image_display_url }}"/>
            <h2 class="text-xl h-16 font-bold flex items-center text-black">{{ org.title }}</h2>
        </a>
    </li>
    {% endfor %}
</ul>
