{% set news = h.get_recent_blog_posts() %} 
{% if news %}
<div class="block">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <!-- First News Item -->
    <div class="first-news">
      <a
        class="block hover:bg-white hover:shadow-xl border-1 border-gray-300"
        href="{{ h.url_for('pages.blog_show', page=news[0].name) }}"
      >
        <div class="card-img">
          <img
            class="rounded"
            style="width: 100%; height: 400px; object-fit: cover"
            src="{{ news[0].image }}"
            loading="lazy"
          />
        </div>
        <div class="card-body mt-4 p-4 montreal-theme">
          <p class="text-xl font-bold text-black font-open-sans mb-2 news-title">
            {{ news[0].title }}
          </p>
          <p
            class="text-gray-700 font-open-sans font-light mt-2 line-clamp-2"
            style="overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;"
          >
            {{ h.render_content(news[0].content)|striptags }}
          </p>
        </div>
      </a>
    </div>

    <!-- Remaining News Items -->
    <div class="other-news grid gap-10 h-full w-full">
      {% for blog in news[1:4] %}

        <a class="single-news w-full border-1 border-gray-300 rounded p-4 hover:shadow-lg" href="{{ h.url_for('pages.blog_show', page=blog.name) }}">
          <p class="text-sm text-gray-500 mb-1">{{ h.render_datetime(blog.publish_date) }}</p>
          <p class="text-base font-bold text-black font-open-sans mb-2 news-title">
            {{ blog.title }}
          </p>
        </a>
     
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
