{% ckan_extends %}

{% block breadcrumb %}
{% if not g.userobj.sysadmin %}

    <div class="w-full font-sans font-bold text-gray-ink text-lg py-3" aria-label="{{ _('breadcrumb') }}">
        <nav class="breadcrumb font-sans font-bold text-gray-ink text-lg py-3" style="background-color: initial !important;" aria-label="{{ _('breadcrumb') }}">
            <ol>
            {% block breadcrumb_content %}
            {% if g.userobj.sysadmin %}
            {{ super() }}

            {% else %}
                {% include 'snippets/home_breadcrumb_item.html' %}
                <li class="breadcrumb_item hover:text-primary">
                    <a href="{{ h.url_for('montreal_theme.collections') }}" class="breadcrumb_link">{{ _('Dataset Collections') }}</a>
                </li>
                <li class="breadcrumb_item hover:text-primary">
                    <a href="{{ h.url_for('group.read', id=group_dict.name) }}" class="breadcrumb_link">{{ group_dict.title }}</a>
                </li>

            {% endif %}
            {% endblock breadcrumb_content %}
            </ol>
        </nav>
    </div>
{% else %}
    {{ super() }}
{% endif %}
{% endblock %}

{% block secondary_content %}
{% if not g.userobj.sysadmin %}
    {% snippet "group/snippets/info.html", group=group_dict, show_nums=true %}

{% else %}
    {{super()}}

{% endif %}
{% endblock %}

{% block content_primary_nav %}
{% if g.userobj.sysadmin %}
    {{ super() }}

{% else %}
{% endif  %}
{% endblock %}
