{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    'methodologie'
    ] -%}

{% block package_additional_info %}


{#
We may need this kind of code later for attributes:
territoire,
created,
ext_spatial,
language,
extras_flag_donnees_normalise,
methodologie,
temporal,
update_frequency

When we try to read old dataset's data, the values for the keys above are placed in "extras" list in the dictionary.
Thus, we can not read them. 
One solution is to extract that data and append it to the existing dictionary to the appropriate keys.
The data from the newly created datasets is OK and can be read, this is only for the old datasets.

Suggested code for sending new dictionary to the snippets (only for territoire below), instead of changing all the snippets and templates: 

{% set ter_pass = [] %}
{% set new_pkg = pkg_dict.copy() %}

                {% if pkg_dict.get('territoire') %}
                    {% set ter_pass = pkg_dict.get('territoire') %}
                {% else %}
                    {% for item in pkg_dict.get('extras') %}
                        {% if item.key == "territoire" %}
                        <div hidden="hidden">{{ ter_pass.append(item.value) }}</div>

                   
                        {% endif %}
                    {% endfor%}
                    {% set new_key_territory = 'territoire' %}
                    {% set new_value_territory = ter_pass %}
                    {{ new_pkg.update({ new_key_territory: new_value_territory}) }}


                {% endif %}

Then we can send new_pkg as data to the snippet below.
#}


  {%- for field in schema.dataset_fields -%}
 
    {%- if field.field_name not in exclude_fields and field.display_snippet is not none -%}

      <tr>
        <th scope="row" class="dataset-label">{{
          h.scheming_language_text(field.label) }}</th>
        <td class="dataset-details" {% if field.display_property %} property="{{ field.display_property}}"{% endif %}>
          {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {%- endif -%}
  {%- endfor -%}

  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}
{% endblock %}
