{% extends 'page.html' %}

{% block toolbar %}
<div class="container mx-auto" style="padding-top: 35px">
    {% block breadcrumb_content %}
        <nav class="breadcrumb" aria-label="breadcrumb">
            <ol class="text-gray-700 font-semibold">
                {% include 'snippets/home_breadcrumb_item.html' %}
                <li class="breadcrumb_item">
                    <a class="breadcrumb_link" href="{{ h.url_for('dataset.read', id=package.name) }}">{{ _("Dataset") }}</a>
                </li>
                <li class="breadcrumb_item">
                    <a class="breadcrumb_link" href="{{ h.url_for('resource.read', id=package.name, resource_id=resource.id) }}">{{ resource.name }}</a>
                </li>
            </ol>
        </nav>
    {% endblock %}
</div>
{% endblock %}

{% block extra_content %}
<div class="container mx-auto lg:flex p-gutter">
    <div class="mb-gutter lg:mb-0 lg:w-2/3 lg:mr-gutter">
        <h2 class="text-3xl font-semibold text-gray-900">{{ _("Data") }}</h2>
        <div id="data" class="py-2">
            <ul>
                <div class="custom_panel">
                    <li class="mb-6">
                        <nav class="pt-4 pb-1">
                            <a href="{{ h.url_for('resource.download', id=package.name, resource_id=resource.id) }}" class="inline-block mr-3 mb-6 py-2 px-4 rounded text-white bg-primary hover:bg-sarcelle-dark cursor-pointer" target="_blank">
                                <dl class="data-file-type_inner">
                                    <dt class="data-file-type_term">{{ _("Download " + "(" + resource.format + ")") }}</dt>
                                </dl>
                            </a>
                            <a data-module="api-info" data-module-template="{{ '/api/1/util/snippet/api_info.html?resource_id=' + resource.id }}" class="inline-block mr-3 mb-6 py-2 px-4 rounded text-white bg-primary hover:bg-sarcelle-dark cursor-pointer">
                                <dl class="data-file-type_inner">
                                    <dt class="data-file-type_term">{{ _("API") }}</dt>
                                </dl>
                            </a>
                        </nav>
                        <div class="data-explorer">
                            <div class="data-explorer">
                                <div class="total-rows">
                                    <span class="total-rows-label">{{ _("Total rows") }}</span>
                                    <span class="total-rows-value">{{ _("5,500") }}</span>
                                </div>
                                <div class="datastore-query-builder">
                                    <div class="App">
                                        <form class="form-inline dq-main-container">
                                        <div class="dq-heading"></div>
                                            <div>
                                            <div class="react-date-picker react-date-picker--closed react-date-picker--enabled">
                                                <div class="react-date-picker__wrapper">
                                                    <div class="react-date-picker__inputGroup">
                                                        <input max="2022-12-07" min="-271821-04-20" name="date" type="date" value="" style="visibility: hidden; position: absolute; top: -9999px; left: -9999px;">
                                                        <input autocomplete="off" class="react-date-picker__inputGroup__input react-date-picker__inputGroup__year" max="2022" min="1000" name="year" placeholder="----" step="1" type="number" value="" style="width: 24px;">
                                                        <span class="react-date-pciker__inputGroup__divider">-</span>
                                                        <input autocomplete="off" class="react-date-picker__inputGroup__input react-date-picker__inputGroup__month" max="12" min="1" name="month" placeholder="--" type="number" value="" style="width: 12px;">
                                                        <span class="react-date-pciker__inputGroup__divider">-</span>
                                                        <input autocomplete="off" class="react-date-picker__inputGroup__input react-date-picker__inputGroup__day" max="31" min="1" name="day" placeholder="--" type="number" value="" style="width: 12px;">
                                                    </div>
                                                    <button class="react-date-picker__clear-button react-date-picker__button" type="button">X</button>
                                                    <button class="react-date-picker__calendar-button react-date-picker__button" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" stroke="black" stroke-width="2" class="react-date-picker__calendar-button__icon react-date-picker__button__icon"><rect fill="none" height="15" width="15" x="2" y="2"></rect><line x1="6" x2="6" y1="0" y2="4"></line><line x1="13" x2="13" y1="0" y2="4"></line></svg>
                                                    </button>
                                                    
                                                </div>
                                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                <div class="react-date-picker react-date-picker--closed react-date-picker--enabled">
                                                    <div class="react-date-picker__wrapper">
                                                        <div class="react-date-picker__inputGroup">

                                                        </div>
                                                        <button></button>
                                                        <button></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% block data_preview %}
                        {{ super() }}
                        <div class="data-explorer-content">
                            <button id="tabTableau" role="tab" aria-selected="true"></button>
                        </div>
                        {% endblock %}
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
{% endblock %}