{% ckan_extends %}

{% block head_extras -%}
{% endblock %}

{% block pre_primary %}
    {% if g.user and g.userobj.sysadmin %}
        {{super()}}
    {% endif %}
{% endblock %}

{% block toolbar %}
    {% if g.user and g.userobj.sysadmin %}
        {{super()}}

    {% else %}
        <div class="container mx-auto" style="padding-top: 35px">
        {% block breadcrumb_content %}
            {% if g.user and g.userobj.sysadmin %}
                {{super()}}
            {% else %}
                <nav class="breadcrumb" aria-label="breadcrumb">
                    <ol class="text-gray-700 font-semibold">
                        {% include 'snippets/home_breadcrumb_item.html' %}
                        <li class="breadcrumb_item">
                            <a class="breadcrumb_link" href="{{ h.url_for('dataset.read', id=package.name) }}">{{ _("Dataset") }}</a>
                        </li>
                        <li class="breadcrumb_item">
                            <a class="breadcrumb_link" href="{{ h.url_for('dataset.read', id=package.name) }}">{{ _(package.title) }}</a>
                        </li>
                        <li class="breadcrumb_item">
                            <a class="breadcrumb_link" href="{{ h.url_for('resource.read', id=package.name, resource_id=resource.id) }}">{{ resource.name }}</a>
                        </li>
                    </ol>
                </nav>
            {% endif %}
        {% endblock %}
</div>
    {% endif %}
{% endblock %}


{% block extra_content %}
<div class="container mx-auto lg:flex p-gutter">
    <div class="mb-gutter lg:mb-0 lg:w-2/3 lg:mr-gutter">
        <h2 class="text-3xl font-semibold text-gray-900">{{ _("Data") }}</h2>
        <div id="data" class="py-2">
            <ul>
                <div class="custom_panel">
                    <li class="mb-6">
                        <nav class="pt-4 pb-1">
                            <a href="{{ h.url_for('resource.download', id=package.name, resource_id=resource.id) }}" class="inline-block mr-3 mb-6 py-2 px-4 rounded text-white bg-primary hover:bg-sarcelle-dark cursor-pointer" download>
                                <dl class="data-file-type_inner">
                                    <dt class="data-file-type_term">{{ _("Download") + " (" + resource.format + ")" }}</dt>
                                </dl>
                            </a>
                            <a data-module="api-info" data-module-template="{{ '/api/1/util/snippet/_api_info.html?resource_id=' + resource.id }}" class="inline-block mr-3 mb-6 py-2 px-4 rounded text-white bg-primary hover:bg-sarcelle-dark cursor-pointer">
                                <dl class="data-file-type_inner">
                                    <dt class="data-file-type_term">{{ _("API") }}</dt>
                                </dl>
                            </a>
                        </nav>
                        <div class="data-explorer">
                            <div class="data-explorer">  
                        </div>
                        {% block resource_view %}
                        <div class="data-explorer-content">
                           {{super() }}
                        </div>
                        {% endblock %}
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block primary_content %}
  {% block resource_additional_information %}
  
    {% if res %}
      <section class="module">
        {%- block resource_additional_information_inner -%}

            {{super()}}
       
            {%- block resource_fields -%}
            {%- endblock -%}

        {%- endblock -%}
      </section>
    {% endif %}
  {% endblock %}
{% endblock %}


{% block secondary %}
       <aside class="md:w-3/10 md:mr-10" style="display: none;"> </aside>

    {% block secondary_content %}
        {% if g.user and g.userobj.sysadmin %}
            {{super()}}
        {% endif %}
    {% endblock %}
{% endblock %}