{% ckan_extends %}
{% block info %}
{% if not g.userobj %}

    <div class="mb-gutter md:mr-10 md:pb-2">
        <a href="{{ url }}">
            <img class="h-24 mb-4" src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ organization.name }}" />
        </a>

    <h2 class="text-primary text-xl font-semibold">
    {{ organization.display_name }}
    {% if organization.state == 'deleted' %}
        [{{ _('Deleted') }}]
    {% endif %}
    </h2>
    {% if organization.description %}
        <p class="py-2 text-sm">{{ organization.description }}</p>
    {% endif %}
    </div>
{% else %}
    {% block image %}
        <a href="{{ url }}" class="d-block w-100">
        <img class="w-100 mb-4" src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="{{ organization.name }}" />
        </a>
    {% endblock %}
     
{% endif %}
{% endblock %}
