{% block info %}
{% if not g.userobj.sysadmin %}

    <div class="mb-gutter md:mr-10 md:pb-2">
        <a href="{{ group.url }}">
            <img class="h-24 mb-4" src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" />
        </a>
    
    <h2 class="text-primary text-xl font-semibold">
    {{ group.display_name }}
    {% if group.state == 'deleted' %}
        [{{ _('Deleted') }}]
    {% endif %}
    </h2>
    {% if group.description %}
        <p class="py-2 text-sm">{{ group.description }}</p>
    {% endif %}
    </div>
{% else %}
    {{ super() }}

{% endif %}
{% endblock %}
