{% extends 'page.html'%}

{% block toolbar %}
<div class="container mx-auto" style="padding-top: 35px">
    {% block breadcrumb_content %}
        <nav class="breadcrumb" aria-label="breadcrumb">
            <ol class="text-gray-700 font-semibold">
                {% include 'snippets/home_breadcrumb_item.html' %}
                <li class="breadcrumb_item">
                    <a class="breadcrumb_link" href="/blog">{{ _("News") }}</a>
                </li>
                <li class="breadcrumb_item">
                    <a class="breadcrumb_link" href="{{ h.url_for('pages.blog_show', page=g.page.name) }}">{{ _(g.page.title|truncate(49, True)) }}</a>
                </li>
            </ol>
        </nav>
    {% endblock %}
</div>
{% endblock %}

{% block extra_content %}
    <div class="container mx-auto lg:flex p-gutter">
        <main class="mb-gutter lg:mb-0 lg:w-2/3 lg:mr-gutter">
            <h1 class="text-4xl font-semibold text-gray-700">{{ _(g.page.title) }}</h1>
            <time class="text-gray-500">{{  h.render_datetime(g.page.publish_date, date_format='%b %d, %Y') }}</time>
            <br>
            <div class="content markdown-content leading-relaxed">
                {% if g.page.content %}
                    {% set editor = h.get_wysiwyg_editor() %}
                    {% if editor %}
                        {{ h.render_markdown(g.page.content|safe) }}
                    {% else %}
                        {{ h.render_markdown(g.page.content|safe)}}
                    {% endif %}
                {% else %}
                    <p class="empty">{{ _('This page currently has no content') }}</p>
                {% endif %}
            </div>
        </main>
        <div class="lg:w-1/3 lg:pl-gutter">
            <h2 class="bg-gray-200 px-4 py-3 font-bold mb-1">
                {{ _("Share") }}
            </h2>
            <ul class="text-sm">
                <li class="border-b-2 border-gray-200">
                    <a href="" class="block px-4 py-3 text-primary" target="_blank">{{ _("Twitter") }}</a>
                </li>
                <li>
                    <a href="" class="block px-4 py-3 text-primary">{{ _("Facebook") }}</a>
                </li>
            </ul>
        </div>
    </div>
    {{h.disqus_comments()}}
{% endblock %}
