{% extends 'page.html'%}

{% block toolbar %}
<div class="container mx-auto" style="padding-top: 35px">
    {% block breadcrumb_content %}
        <nav class="breadcrumb" aria-label="breadcrumb">
            <ol class="text-gray-700 font-semibold">
                {% include 'snippets/home_breadcrumb_item.html' %}
                <li class="breadcrumb_item">
                    <a class="breadcrumb_link" href="/blog">{{ _("News") }}</a>
                </li>
                <li class="breadcrumb_item">
                    <a class="breadcrumb_link" href="{{ h.url_for('pages.blog_show', page=g.page.name) }}">{{ _(g.page.title|truncate(49, True)) }}</a>
                </li>
            </ol>
        </nav>
    {% endblock %}
</div>
{% endblock %}

{% block extra_content %}
    <div class="container mx-auto lg:flex p-gutter">
        <main class="mb-gutter lg:mb-0 lg:w-2/3 lg:mr-gutter">
            <h1 class="text-4xl font-semibold text-gray-700">{{ _(g.page.title) }}</h1>
            <time class="text-gray-500">{{  h.render_datetime(g.page.publish_date, date_format='%b %d, %Y') }}</time>
            <br>
            <div class="content markdown-content leading-relaxed">
                {% if g.page.content %}
                    {% set editor = h.get_wysiwyg_editor() %}
                    {% if editor %}
                    {{g.page.content|safe}}
                    {% else %}
                    {{g.page.content|safe}}                    
                    {% endif %}
                {% else %}
                    <p class="empty">{{ _('This page currently has no content') }}</p>
                {% endif %}
            </div>
        </main>
        <div class="lg:w-1/3 lg:pl-gutter">
            <h2 class="contact-us-social">{{ _('Share') }}</h2>
                <ul class="unstyled nav nav-simple nav-facet">
                    <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                </ul>
        </div>
    </div>
    {{h.disqus_comments()}}
{% endblock %}
