{% import "components.html" as components %}

{% extends 'page.html'%}

{% block page_hero %}
{% set current_lang = request.environ.CKAN_LANG %}
    {{components.page_hero({
        "title": _("News"),
        "description": "",
        "selectedSearchOption": "/"+current_lang+"/blog",
        "query": c.q,
        "class" : "news-hero"
    })}}
{% endblock %}

{% block toolbar %}
<div class="mx-auto pt-16">
    
{% block breadcrumb_content %}
    <nav class="breadcrumb w-full font-sans font-bold text-gray-ink text-lg"  aria-label="breadcrumb">
        <ol class="text-gray-700 font-semibold">
            {% include 'snippets/home_breadcrumb_item.html' %}
            <li class="breadcrumb_item">
                <a class="breadcrumb_link" href="/blog">{{ _("News") }}</a>
            </li>
        </ol>
    </nav>
{% endblock %}
{% endblock %}


{% set blogs = c.page.items %}

{{ blogs }}

{% block extra_content %}
    <div class="container mx-auto pt-12">
      
        <ul class="sm:flex flex-wrap sm:-mx-4 mt-gutter">
            {% if blogs %}
                {% for blog in blogs %}
                {% set url = h.url_for('pages.blog_show', page=blog.name) %}
                <li class="sm:w-1/2 lg:w-1/3">
                    <a class="flex py-4 my-4 sm:mx-4" href="{{ url }}">
                        <div class="flex flex-col justify-center overflow-hidden">
                            <p class="text-2xl font-bold text-gray-700">{{ blog.title }}</p>
                            <p class="text-gray-600">{{ h.render_datetime(blog.publish_date) }}</p>
                            {% if blog.content %}
                                {% if editor %}
                                    <p class="text-gray-700">{{ h.render_markdown(blog.content|striptags|truncate) }}</p>
                                {% else %}
                                    <p class="text-gray-700">{{ h.render_markdown(blog.content|striptags|truncate) }}</p>
                                {% endif %}
                            {% else %}
                                <p class="text-gray-700">{{ _("This page currently has no content") }}</p>
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% endfor %}
            {% else %}
                <li class="w-full">
                    <p class="text-gray-700 text-center">
                        {% if c.q %}
                            {{ _("No results found matching") }} "{{ c.q }}"
                        {% else %}
                            {{ _("No results found.") }}
                        {% endif %}
                    </p>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
