{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}


{% block primary_content_inner %}
    <h1 class="page-heading">
    {% block page_heading %}{{  _('Manage Search Confguration') }}{% endblock %}
  </h1>
   {{ data }}
    {% block form %}
    <form class="search-config" method="post">
        <div class="form-inline">
        <input type="hidden" name="search-config" value="{{ data.get('ckan.search-config') }}" />
          <div class="form-group" id="search-data1">
            <label for="link" class="control-label">Link</label>
            <input type="text" class="form-control" name="link[1]" placeholder="Link">
            <label for="text" class="control-label">Text</label>
            <input type="text" class="form-control" name="text[1]" placeholder="Text">
         
            <input id="add[1]" name="add" type="button" class="btn" value="+" />
            <input id="remove[1]" name="remove" type="button" class="btn" value="-" />
          </div>
        </div>
        <div class="form-actions">
        <button class="btn btn-primary" type="submit" name="save" >
          {{ _('Update Search Config') }}
        </button>
      </div>
      </form>
    {% endblock %}

    {% block preview%}

    {% endblock %}
{% endblock%}
