{% import "components.html" as components %}

{% set current_lang = request.environ.CKAN_LANG %}

{% block header_account %}
  <div class="montreal-theme app-navbar">

    {% if g.userobj is not none %}
      {% set isEditor = h.is_editor_header() %}
    {% endif %}

    {% if g.userobj.sysadmin or isEditor %}
      {% include "navigation/user-nav.html" %}
    {% else %}
      {% include "navigation/top-nav.html" %}
    {% endif %}

    {% block header_logo %}
      <header class="mx-auto w-full" style="border-bottom: 1px solid #ced4da;">
        <div class=" py-2 border-neutral-underground-1 " style="border-bottom: 1px solid #CED4DA">
          <div class="wide-container nav-items-flex">
            {% if g.site_logo %}
              <div class="nav-logo-title">
                <a class="logo inline-block" href="{{ h.url_for('home.index') }}" class="">
                  <img class="block" src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" style="min-width: 40px;" />
                </a>
                <div class="mx-4 h-4 nav-line-changed border-gray-400"></div>
                <div class="text-black font-bold" style="white-space: nowrap;">{{ _('Open Data') }}</div>
              </div>
              <div>
                {{ components.search_bar() }}
              </div>
            {% else %}
              <h1>
                <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
              </h1>
              {% if g.site_description %}
                <h2>{{ g.site_description }}</h2>
              {% endif %}
            {% endif %}
            {% if g.userobj is not none %}
              {% set isEditor = h.is_editor_header() %}
            {% endif %}
          </div>
        </div>
        <div>
          {% include "navigation/main-menu.html" %}
        </div>
      </header>
    {% endblock %}

    {% block header_site_search %}
    {% endblock %}

    {% block header_site_navigation %}
    {% endblock %}
  </div>
{% endblock %}
