{% set current_lang = request.environ.CKAN_LANG %}


{% block header_account %}


{% if g.userobj is not none %}
    {% set isEditor = h.is_editor_header() %}
{% endif %}


{% if g.userobj.sysadmin or isEditor %}
<nav class="nav-admin font-open-sans">

    {% if "dev" in config.get('ckan.site_url') %}
    {% set loc_fr = "développement" %}
    {% set loc_en = "developement" %}
    {% else %}
    {% set loc_fr = "production" %}
    {% set loc_en = "production" %}
    {% endif %}

    {% if current_lang =='fr' %}
    <span class="nav-admin-welcome">Bienvenue, 
        <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
            <span class="border-dotted border-b border-gray-600 font-open-sans name-uppercase text-white font-bold text-nav-name">{{ c.userobj.display_name }}.</span>
        </a>
         Vous êtes sur l'instance de <strong style="font-weight: bold;">{{loc_fr}}.</strong></span>
        {% else %}
    <span class="nav-admin-welcome">Welcome, 
        <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
            <span class="border-dotted border-b border-gray-600 font-open-sans name-uppercase text-white font-bold text-nav-name">{{ c.userobj.display_name }}.</span>
        </a>         You are on the instance of <strong style="font-weight: bold;">{{loc_en}}.</strong></span>
    {% endif %}
</nav>

{% endif %}
    {% block header_logo %}
        {% if g.site_logo %}
        <header class="mx-auto w-full " style="border-bottom: 1px solid #ced4da;">
            <div class="nav-items-flex py-4 px-5">
                <div class="nav-logo-title">
                    <a class="logo" href="{{ h.url_for('home.index') }}">
                    <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}"
                        title="{{ g.site_title }}" width="190px" />
                    </a>
                    <!-- <div class="mx-6 h-4 border-1 border-solid border-gray-400"></div> -->
                    <div class="mx-6 h-4 nav-line-changed border-gray-400"></div>
                    <div class="text-black font-bold" style="white-space: nowrap;">{{ _('Open Data') }}</div>
                </div>
                <!-- <div class="mx-6 h-4 border-1 border-solid border-gray-400"></div>
                <div class="text-black font-bold">{{ _('Open Data') }}</div> -->
                
               
                
                {% if g.userobj is not none %}
                      {% set isEditor = h.is_editor_header() %}
                {% endif %}


                {% if g.userobj.sysadmin or isEditor%}
                <nav class="flex items-right" style="padding-left: 340px;">


                 

                    <div class="flex font-open-sans text-base items-center mx-auto" style="text-align:center;">


                        <div class="container">
                            <a href="/dataset" title="{{ _('Sysadmin settings') }}">
                                <span class="text-black font-bold hover:text-primary">{{ _('Data') }}</span>
                            </a>
                        </div>

                        <div class=" h-4 border-half border-solid border-gray-400"></div>
    
                    
                        <div class="container">
                            <a href="/pages" title="{{ _('Sysadmin settings') }}">
                                <span class="text-black font-bold hover:text-primary">{{ _('Pages') }}</span>
                             </a>
                        </div>

                        <div class=" h-4 border-half border-solid border-gray-400"></div>
    
                        <div class="container">
                            <a href="{{ h.url_for('pages.blog_index') }}" title="{{ _('Sysadmin settings') }}">
                                <span class="text-black font-bold hover:text-primary">{{ _('News') }}</span>
                            </a>
                        </div>
    
                        <div class=" h-4 border-half border-solid border-gray-400"></div>
    
    
                        <div class="container">
                            <a href="{{ h.url_for('organization.index') }}" title="{{ _('Sysadmin settings') }}">
                                <span class="text-black font-bold hover:text-primary">{{ _('Organizations') }}</span>
                            </a>
                        </div>
    
                        <div class=" h-4 border-half border-solid border-gray-400"></div>
    
    
                        <div class="container">
                            <a href="{{ h.url_for('group.index') }}" title="{{ _('Sysadmin settings') }}">
                                <span class="text-black font-bold hover:text-primary">{{ _('Groups') }}</span>
                            </a>
                        </div>
    
                        <div class=" h-4 border-half border-solid border-gray-400"></div>
                        

                        <div class="container">
                            <a href="{{ h.url_for('showcase_blueprint.index') }}" title="{{ _('Sysadmin settings') }}">
                                <span class="text-black font-bold hover:text-primary">{{ _('Applications') }}</span>
                            </a>
                        </div>
    

                        {% if g.userobj.sysadmin %}
                        <div class=" h-4 border-half border-solid border-gray-400"></div>
                        
                        <div class="container">
                            <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                                <span class="text-black font-bold hover:text-primary">{{ _('Admin') }}</span>
                            </a>
                        </div>
                        {% endif %}


                        {#
                        <div class="container">
                            <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                                <span class="text-black font-bold hover:text-primary">{{ c.userobj.display_name }}</span>
                            </a>
                        </div>
                        #}

                        {# 
                        {% set new_activities = h.new_activities() %}
                        <div class="container notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                            {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)%}
                            <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
                                <span class="text-black font-bold hover:text-primary">{{ _('Dashboard') }}</span>
                              </a>
                        </div>

                        <div class=" h-4 border-half border-solid border-gray-400"></div>

                        <div class="container">
                            <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
                                <span class="text-black font-bold hover:text-primary">{{ _('Settings') }}</span>
                              </a>
                        </div>
                        #}

                        <div class=" h-4 border-half border-solid border-gray-400"></div>

                        <div class="container">
                            <a class="nav-logout" href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                <span class="text-black font-bold hover:text-primary">{{ _('Logout') }}</span>
                                    <svg class="fill-current w-6 h-6 hover:rounded hover:bg-sarcelle-light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="icon">
                                        <path fill-rule="evenodd" d="M21.927 11.624a1 1 0 01-.22 1.083l-5 5a1 1 0 01-1.414-1.414L18.586 13H8a1 1 0 010-2h13a1 1 0 01.921.61l.006.014zm-6.634-3.917a1 1 0 111.414-1.414l2.035 2.035a1 1 0 11-1.414 1.414l-2.035-2.035zM11 21a1 1 0 010 2H5a3 3 0 01-3-3V4a3 3 0 013-3h6a1 1 0 010 2H5a1 1 0 00-1 1v16a1 1 0 001 1h6z"></path>
                                     </svg>
                                     </a>
                        </div>


                    </div>
                </nav>
                {% endif %}
            </div>
        {% else %}
            <h1>
                <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
            </h1>
            {% if g.site_description %}
                <h2>{{ g.site_description }}</h2>
            {% endif %}
        {% endif %}
        </header>
    {% endblock %}

    {% block header_site_search%}  
    {%endblock%}

    {% block header_site_navigation %}
    {%endblock%}

{% endblock %}
