{% if g.userobj is not none %}
  {% set isEditor = h.is_editor_header() %}
{% endif %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53DMN373"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


{% if g.user and g.userobj.sysadmin %}
  {% ckan_extends %}

{% elif g.user and isEditor %}
  {% ckan_extends%}

  {% block styles %}
    {{ super() }}

  {% endblock %}

{% else %}
  {% extends "_page.html" %}
{% endif %}